*{
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  font-family: 'Poppins', sans-serif;
}

body{
  min-height: 100vh;
  width: 100%;
}

/* nav */

 header{
  display: flex;
} 

.header-title{
  flex: 1;
}

.header-h1{
  margin: 10px 0 0 10px;
}

.nav-cont{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1;
}

.menu li:hover{
  background-color: #bbb;
}

.menu{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  align-self: center;
}

.header .menu{
  clear: both;
  max-height: 0;
  transition:max-height .2s ease-out;
}

.header .menu-icon {
  cursor: pointer;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .nav-icon{
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
  background: #333;
}

.header .menu-icon .nav-icon:before{
   background: #333;
   content: "";
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   top: 5px;
}

.header .menu-icon .nav-icon:after{
  background: #333;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -5px;
}

.menu-btn{
  display:none
}

.header .menu-btn:checked ~ .menu{
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top:0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top:0;
}

/* typogrophy */
.cont-p{
  /* width: 171px;
  height: 18px; */
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #2D9CDB;
  margin-top: 40px;
}

.cont-h1{
  /* width: 272px;
  height: 72px; */
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
}

.cont-one-h1{
  /* width: 227px;
  height: 58px; */
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
}

.cont-one-div-p{
  /* width: 275px;
  height: 74px; */
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #4F4F4F;
}

.form-label{
  /* width: 232px;
  height: 21px; */
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  color: #828282;
}


/*  */
.wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cont {
  max-width: 500px;
  width: 80%;
}

.h1-cont{
  margin-top: 20px;
  margin-bottom: 20px;
}

.cont-one-img{
  width: 95%;
  padding:13%;
  display: block;
  background-image: url("/Assets/heroImage.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  border-radius: 18px;
}

.cont-one-div-p{
  margin-bottom: 20px;
}

form{
  display: flex;
  flex-direction: row;
  
}

input{
  flex-grow: 2;
  border: none;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  background: #F2F2F2;
}

button{
  background: #2D9CDB;
  border-radius: 12px;
  border: none;
  padding: 1em 1.5em;
  color: white;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

/* cont-2 */

/* Typogrophy */

.cont-two-h1{
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
}

.ras{
  display: inline-block;
  width: 67px;
  height: 67px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fas-1{
  background-color: #2D9CDB;
}
.fas-2{
  background: #27AE60;
}
.fas-3{
  background: #EB5757;
}

.fas{
  font-size: 1.5rem;
  color: white
}

.cont-two-design{
  width: 100%;
  height: 422px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
  margin-bottom: 2rem;
}
.cont-two-design>*{
  margin-left: 1rem;
}

.cont-2-designs{
  background: #FFFFFF;
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  border-radius: 24px;
}

.button-cont-design{
  display: inline-block;
  width: 40%;
  height: 45px;
}