*{
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  font-family: 'Poppins', sans-serif;
}

/* nav */

 header{
  display: flex;
} 

.header-title{
  flex: 1;
}

.header-h1{
  margin: 10px 0 0 10px;
}

.nav-cont{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1;
}

.menu li:hover{
  background-color: #bbb;
}

.menu{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  align-self: center;
}

.header .menu{
  clear: both;
  max-height: 0;
  transition:max-height .2s ease-out;
}

.header .menu-icon {
  cursor: pointer;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .nav-icon{
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
  background: #333;
}

.header .menu-icon .nav-icon:before{
   background: #333;
   content: "";
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   top: 5px;
}

.header .menu-icon .nav-icon:after{
  background: #333;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -5px;
}

.menu-btn{
  display:none
}

.header .menu-btn:checked ~ .menu{
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top:0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top:0;
}


/* section cont-1 */
.cont-1{
  display: flex;
  flex-direction: column;
  margin-bottom:103px;
}

.cont-one{
  width: 272px;
  position: relative;
  left: 33px;
  padding-bottom: 15px;
}

.cont-h1{
  font-size: 24px;
}
.cont-one-img{
  border-radius: 18px;
  margin: 0 10px 20px 10px;
}

.cont-p{
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color:#2D9CDB;
  margin: 50px 0 0 0;
}

.cont-h1{
  margin-top: 0;
}

.cont-one-h1{
  font-weight: 500;
  font-size: 26px;
  line-height: 36px;
}

.cont-one-div-p{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #4F4F4F;
}

.form-label{
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  color: #828282;
  width: 232px;
  height: 21px;
  display: block;
}

form{
  background: #F2F2F2;
  border-radius: 12px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}
input{
  border: none;
  background: #F2F2F2;
  width: 190px;
  height: 44px;
  border-radius: 12px 0 0 12px;
}

.input-button{
  background: #2D9CDB;
  border-radius: 12px;
  width: 71px;
  height: 39px;
  border: none;
  color:#F2F2F2;
}

/* cont-2 */

.cont-2{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: relative;
  left: 33px;
  width: 315px;
}

.cont-two-h1{
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.fa-edit{
  width: 67px;
}

.cont-two-design div{
  width: 67px;
  height: 67px;
  /* background: #2D9CDB; */
  border-radius: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fas-1{
  background: #2D9CDB;

}
.fas-2{
  background: #27AE60;
}
.fas-3{
  background: #EB5757;

}
.fas{
  font-size: 25px;
  color: white;
}

.cont-two-design{
  width: 315px;
  height: 422px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 34px;
  margin-bottom: 20px;
}

.cont-2-designs{
  box-shadow: 0px 10px 30px 0px #3333331A;
}

.cont-two-design > div,h1,p,button:not(:last-child){
  margin-bottom:40px;
}

.h1-cont-design{
  width: 100%;
  height: 36px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

.button-cont-design{
  background: #E0E0E0;
  border-radius: 12px;
  border: none;
  width: 116px;
  height: 42px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

/* identical to box height */

color: #828282;
}

.btn{
  background: #2D9CDB;
  border-radius: 12px;
  color: white;
}

/* section 3 */

.cont-3{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.cont-three{
  /* text-align: center; */
  position: relative;
  left: -7px;
  /* width: 100% */
}

.cont-three-h1{
  width: 267px;
  height: 72px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;

  /* Gray 1 */
  color: #333333;
}

.cont-{
  width: 320px;
  height: 400px;
}


.cont-three-img{
  width: 100%;
  padding: 1%;
  object-fit: cover;
  border-radius: 8px;
}

.cont-three-p{
  margin-bottom: 0;
  width: 120.86px;
  height: 17.38px;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #828282;
}

.cont-three-h3{
  
width: 239.54px;
height: 30.42px;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
color: #333333;
}

.see-more{
  align-self:flex-start;
  position: relative;
  right: -33px;
  width: 100px;
  height: 27px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  /* identical to box height */

  color: #2D9CDB;
}