*{
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  font-family: 'Poppins', sans-serif;
}

body{
  min-height: 100vh;
  width: 100%;
}

/* nav */

 .header{
  display: flex;
} 

.header-title{
  flex: 1;
}

.header-h1{
  margin: 10px 0 0 10px;
}

.nav-cont{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1;
}

.menu li:hover{
  background-color: #bbb;
}

.menu{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  align-self: center;
}

.header .menu{
  clear: both;
  max-height: 0;
  transition:max-height .2s ease-out;
}

.header .menu-icon {
  cursor: pointer;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .nav-icon{
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
  background: #333;
}

.header .menu-icon .nav-icon:before{
   background: #333;
   content: "";
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   top: 5px;
}

.header .menu-icon .nav-icon:after{
  background: #333;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -5px;
}

.menu-btn{
  display:none
}

.header .menu-btn:checked ~ .menu{
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top:0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top:0;
}

/* typogrophy */
.cont-p{
  /* width: 171px;
  height: 18px; */
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #2D9CDB;
  margin-top: 40px;
}

.cont-h1{
  /* width: 272px;
  height: 72px; */
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
}

.cont-one-h1{
  /* width: 227px;
  height: 58px; */
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
}

.cont-one-div-p{
  /* width: 275px;
  height: 74px; */
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #4F4F4F;
}

.form-label{
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  /* background: #F2F2F2; */
}

form{
  background: #F2F2F2;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}


/*  */
.wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cont {
  max-width: 500px;
  width: 80%;
  margin: 2rem 0;
}

.h1-cont{
  margin-top: 20px;
  margin-bottom: 20px;
}

.cont-one-img{
  width: 95%;
  padding:13%;
  display: block;
  background-image: url("/Assets/heroImage.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  border-radius: 18px;
}

.cont-one-div-p{
  margin-bottom: 20px;
}

form{
  display: flex;
  flex-direction: row;
  
}

input{
  flex-grow: 2;
  border: none;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  background: #F2F2F2;
}

button{
  background: #2D9CDB;
  border-radius: 12px;
  border: none;
  padding: 1em 1.5em;
  color: white;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

/* cont-2 */

/* Typogrophy */

.cont-two-h1{
  font-style: normal;
  font-size: 18px;
  line-height: 36px;
  color: #333333;
  margin-bottom: 3rem;
}

.ras{
  display: inline-block;
  width: 67px;
  height: 67px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fas-1{
  background-color: #2D9CDB;
}
.fas-2{
  background: #27AE60;
}
.fas-3{
  background: #EB5757;
}

.fas{
  font-size: 1.5rem;
  color: white
}

.cont-two-design{
  width: 100%;
  height: 422px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
  margin-bottom: 2rem;
}
.cont-two-design>*{
  margin-left: 1rem;
}

.cont-2-designs{
  background: #FFFFFF;
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  border-radius: 24px;
}

.button-cont-design{
  display: inline-block;
  width: 40%;
  height: 45px;
}

.cont-2{
  margin-bottom: 3rem ;
}


/* cont-3 */

.cont-{
  margin-bottom: 1rem;
}

.cont-three-h1{
  width: 267px;
  height: 72px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
}

.cont-three-p{
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 18px;
  color: #828282;
}

.cont-three-h3{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: #333333;
}

.cont-three-img{
  width: 100%;
  border-radius: 12px;
}

.see-more{
  color: #2D9CDB;
}

/* cont-4 */

.cont-four-h4{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #EB5757;
}

.cont-four-h1{
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;

  /* Gray 1 */
  color: #333333;
}

.cont-four-p1{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #4F4F4F;
}

.cont-four-img{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: .5rem;
}

.img{
  width: 100%;
}

.cont-four-sub1{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-four-1{
  border-radius: 24px;
}
.cont-four-sub2{
  display: grid;
  gap: .5rem;
}

.img-four-2{
  width: 90%;
}

.img-four-2, .img-four-3{
  border-radius: 24px;
}

/* cont-5 */

.cont-five-h1{
  font-style: bold;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  color: #333333;
}

.cont-five{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
}

.cont-five-img{
  width: 100%;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.cont-five-sib-cont{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2,1fr);
  align-items: center;
  justify-items: center;
}

.cont-five-h5{
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
}

.cont-five-h6{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: #828282;
}

/* footer */
.wrapper-2{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin: 0 auto;
  max-width: 500px;
}

footer{
  background: #100E1D;
  width: 100%;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.footer-list{
  list-style: none;
  margin: 4rem 0;
  padding: 0;
}

.footer-list li{
  padding: 0.8rem 0;
}

.footer-cont{
  margin: 0 0 4rem 0;
}

.footer-cont-h1{
  font-size: 2rem;
  margin-bottom: 0.7rem;
}

.footer-social-media-icons{
  font-size: 1.5rem;
}

.footer-contact-form{
  margin-bottom: 2rem;
}

footer p{
  width: 287px;
  height: 17px;
  left: 46px;
  top: 1368px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  text-align: center;
  color: #A9A9A9;
  margin-top: 10px;
  margin-left: 20px;
}


/* @media */

@media(min-width: 800px){
  .header-title{
    flex-grow:1;
  }
  .nav-cont{
    flex-direction: row;
    flex-grow: 2;
    justify-content: flex-end;
    margin-right: 1rem;
  }

  .header .menu{
    display: flex;
    flex-direction: row;
    max-height: none;
  }

  .menu-icon{
    display: none;
  }

  .header .menu li{
    padding: 0 0.5rem;
    font-size: 0.8rem;
  }

  /* Cont-1 */
  .cont{
    max-width: none;
  }
  .cont-1, .cont-21{
    width: 60%;
  }
  .cont-1 >*{
    max-width: 400px;
  }

  .cont-21 > *{max-width: 300px;}

  .cont-two-div{
    display: flex;
    justify-content: space-around;
  }

  .cont-two-design{
    max-width: 320px;
  }

  /* cont-3 */

  .cont-three-sub{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 500);
    gap: 2rem;
  }
  .cont-{
    max-width: 500px;
  }
  .cont-:nth-child(1){
   
  }
  .cont-1:nth-child(2n){
    /* grid-row: 2/3 */
  }

  /* cont-4 */

  .cont-four{
    max-width: 234px;
  }

  .cont-4{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cont-four-h1{
    line-height: 27px;
    font-size: 21px;
  }

  .cont-four-h4{
    font-size: 13px;
  }

  .cont-four-p1{
    font-size: 10px;
    line-height: 15px;
  }
  .img-four-1{
    width: 70%;
    margin: 0 auto;
  }
  .img-four-2{
    width: 50%;
  }
  .img-four-3{
    width: 60%
  }

  /* cont-5 */
  .cont-five{
    width: 22%;
  }
  .cont-five-h1{
    width: 70%;
    font-size: 36px;
  }
  .cont-five-img{
    width: 84px;
  }

  .cont-five{
    grid-template-columns: 1fr 3fr;
  }

  .cont-five-h5, .cont-five-h6{
    font-size: 16px;
  }

  .cont-five-sib-cont{
    justify-items: none;
  }
  /* wrapper */
  .wrapper-2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: none;
  }

  .footer-contact-form, .footer-cont{
    margin-top: 40px;
    margin-bottom: 0;
  }

  footer p{
    display: block;
    margin: 0 auto;
  }
}